@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Code Pro", monospace;
    background-color: #1A202C;
    color: #E2FFE7;
}

/* Top Container Styling */
.container-top {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 10;
    justify-content: space-between;
    width: 100%;
    padding: 2.5vh;
    background-color: rgba(28, 28, 28,0.9); /* Graphite Black  */
    border-bottom: 0.1rem solid #E2FFE7;
}

.container-top h1 {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: transparent;
    font-family: "Source Code Pro", monospace;
}

.welcome-message span {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-titles {
    display: flex;
    background-color: transparent;
    color: #E2FFE7;
    margin: 0.8rem;
}

/* Main Container Styling */
.container-main {
    display: flex;
    flex-direction: row;
}

.container-articles {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 70%;
}

.container-categories {
    display: flex;
    width: 30%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

/* List Styling */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories-title {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 30%;
}

/* Menu Styling */
.menu {
    display: flex;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem;
    margin-left: 50px;
    padding: 1vw;
    background-color: transparent;
    transition: transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu:hover {
    color: #E5D4FF;
    background-color: rgba(201, 42, 42,0.2);
    border: 1px solid rgb(201, 42, 42);
    border-radius: 10px 10px;
    padding: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    transform: translateY(-1vh);
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.12, 0, 0.39, 0);
}

/* Menu Box Styling */
.menu-box {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

/* Articles Styling */
.articles-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.article-image {
    width: 100%;
    height: 300px;
}

.article-box {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border: 0.1rem solid rgba(255, 255, 255, 1);
    border-radius: 1.5rem;
}

.articles-title {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.article-box-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-top: 3px dashed red;
    border-bottom: 3px dashed red;
}

.article-category {
    margin: 0.5rem;
    border: 1px solid purple;
    background-color: cadetblue;
    padding: 0.3rem;
    border-radius: 0.4rem;
}