@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    background-color: beige;
    box-sizing:border-box;
    margin:0;
    padding:0;
}


.container-top {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 10;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: rgba(61, 64, 91, 0.9);
}

.container-top h1 {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: transparent;
    color: rgba(242, 204, 143, 1); 
}

.container-titles {
    display: flex;
    margin: 0.8rem;
}

.container-main {
display: flex;
flex-direction: row;
}

.container-articles {
display: flex;
flex-direction: column;
align-items: start;
justify-content: start;
width: 70%;
}

/* Categories Box Styling: Main Page  (Start)*/
.container-categories {
    display: flex;
    width: 30%;
    align-items:end;
    flex-direction: column;
    border: 2px solid black;
}

.skill-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.categories-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.skill-icons {
    width: 35px;
    height: 35px;
}

.skill-item {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    padding: 5px;
    height: 30px;
    border: 2px solid black;
}


.skill-item-title {
    margin: 15px;
}

/* Categories Box Styling: Main Page  (End) */

.menu {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: rgba(242, 204, 143, 1);
    margin-left: 50px;
    padding: 0.5rem;
    background-color: transparent;
    transition: transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
}

.menu:hover {
    transform: translateY(-5px);
    text-decoration: underline red;
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.12, 0, 0.39, 0);
}


.menu-box {
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}



.articles-column {
    display:flex;
    flex-direction: row;
    align-items:center;
    width: 100%;
}


.article-image {
    width: 100%;
    height: 300px;
}

.article-box {
    display: flex;
    margin: 10px;

}

.articles-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;

}

.article-box-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid purple;
}

.article-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-top: 3px dashed red;
    border-bottom: 3px dashed red;
}

.article-category {
    margin: 0.5rem;
    border: 1px solid purple;
    background-color: cadetblue;
    color: antiquewhite;
    padding: 0.3rem;
    border-radius: 0.4rem;
}