/* Resume Cards */
body {
    background-color: #1A202C;
    color: #E2FFE7;
    font-family: "Source Code Pro", monospace;
}

.home-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Code Pro", monospace;
}

.career-details {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
}

.container-myeducation li {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: transparent;
}

.container-workexperience li {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: transparent;
}

/* Terminal Window Styling */
.terminal-window {
    width: 80%;
    max-width: 800px;
    height: 60%;
    max-height: 600px;
    background-color: #1E1E1E; /* Apple Terminal background color */
    color: #E2FFE7;
    font-family: "Source Code Pro", monospace;
    font-size: 18px;
    line-height: 2.5;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #333333;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

/* Header Styling */
.window-header {
    background-color: #301934; /* Slightly darker for the header */
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px; /* Space between traffic lights */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 40px;
}

.window-content {
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrolling only when content overflows */
    scrollbar-width: thin; /* Optional: For thin scrollbars */
    scrollbar-color:  rgba(255,255,255,0.7) transparent;
    width: 100%;
    height: 300px;
}

.window-content-animation {
    animation: typing-paragraph 2s steps(60, end);
}

/* Traffic Light Buttons */
.traffic-light {
    width: 12px;
    height: 12px;
    border-radius: 50%; /* Circular buttons */
    display: inline-block;
    position: relative;
    margin-left: 8px;
}

/* Individual Button Colors */
.close {
    background-color: #FF605C; /* Red */
}

.minimize {
    background-color: #FFBD44; /* Yellow */
}

.maximize {
    background-color: #00CA4E; /* Green */
}

.traffic-light:hover {
    filter: brightness(90%);
    cursor: pointer;
}

/* Welcome Container Styling */
.welcome-container {
    background-color: #1E1E1E; /* Terminal-inspired dark background */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 30px auto;
    max-width: 800px;
    text-align: center;
    border: 1px solid #333333;
}

/* Typing Animation for Paragraph */
@keyframes typing-paragraph {
    from {
        overflow: hidden;
        width: 10%; /* Start typing from 0 width */
    }
    to {
        overflow: hidden;
        width: 100%; /* Finish typing to full text width */
    }
}


.welcome-container:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.5s ease-in-out;
}

.soundcloud-container {
    background-color: #1E1E1E; /* Terminal-inspired dark background */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 30px auto;
    width: 80%;
    max-width: 800px;
    text-align: center;
    border: 1px solid #333333;
}

.categories-tags {
    margin-left: 20px;
    color: #E5D4FF;
}