* {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    background-color: lightblue;
    border-radius: 25px;
    margin: 1.1em;
    font-size:xx-large;
}

main {
    display: flex;
    justify-content: center;
    background-color: teal;
}

footer {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    border-radius: 25px;
    margin: 1.1em;
}

.navbarpu {
    display: flex;
    align-items: center;
    margin: 5px;
    text-decoration: none;

}

.navbardisplay {
    display: flex;
}

.icon-logo {
    display: flex;
    justify-content: left;
    width: 10em;
    height: auto;
}